/* globel */
*{
	box-sizing: border-box;
	position: relative;
	-webkit-box-sizing: border-box; /* 針對舊版 Chrome/Safari */
	-moz-box-sizing: border-box;    /* 針對舊版 Firefox */
}

html,body{
	font-family:Arial ;
}

h1,h2,h3,h4,h5,h6,p{
	/* 內距 */
	padding: 0;
	/* 外距 */
	margin: 0;
}

ul{
	/* 內距 */
	padding: 0;
	/* 外距 */
	margin: 0;
	/* 清單樣式清除 */
	list-style: none;
}

a{
	/* 文字裝飾清除 */
	text-decoration: none;
	color: 	#FFB5B5;
	/* 關掉聚焦模式 */
	outline: none;
}

/* layout 排版*/

.row{
	margin-left: -16px;
	margin-right: -16px;
}
.row:after{
	content: '';
	display: block;
	clear: both;
}
.col-lg-6,.col-lg-4,.col-lg-3,
.col-md-6,.col-md-12,
.col-sm-12{
	float: left;
	/*border: 1px solid red;*/
	padding-left: 16px;
	padding-right: 16px;
}
.col-lg-6{
	width: 50%;
}
.col-lg-4{
	width: 33.3333333%;
}
.col-lg-3{
	width: 25%;
}
@media (max-width: 768px){
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media (max-width: 576px){
	.col-sm-12{
		width: 100%;
	}
}





@media (max-width: 576px){
	.btn-center{
		display: flex;
		flex-direction: column;
		width: 240px;
		margin: 0 auto;
	}
	.btn-center .btn{
		margin-bottom: 24px;
	}
	.btn-center .btn:last-child{
		margin-bottom: 0;
	}
}

.container{
	/* 最大寬度 */
	max-width: 1200px;
	height: 100%;
	/* 邊框 */
	border: 1px solid #C4E1FF;
	/* 外距-置中 */
	margin: 0 auto;
	/* 左內距 */
	padding-left: 16px;
	/* 右內距 */
	padding-right: 16px;
}

/* componets元件 */

.btn{
	/* 預設值改為inline-block */
	display: inline-block;
	font-size: 16px;
	/* 行高 */
	line-height: 24px;
	/* 內距 */
	padding: 4px 16px;
}

.btn-center{
	/* 文字置中 */
	text-align: center;
}

/* 按鈕大小 */
.bnt-lg{
	/* 內距 */
	padding: 8px 32px;
}

/* 主要的按鈕 */
.btn-primary{
	/* 背景色 */
	background-color: #D9FFFF;
	color: #FFB5B5;
	border: 1px solid #ECFFFF;
}

.btn-primary:hover{
	background-color: #ECFFFF;
	/* 邊框 */
	border: 1px solid #ECFFFF;
}
/* 次要的按鈕 */
.btn-secondary{
	/* 邊框 */
	border: 1px solid #FFB5B5;
	color: #FFB5B5;
}

.btn-secondary:hover{
	background-color: #FFF7FB;
	color: #FFB5B5;
}

/* navbar */

@media (max-width: 768px){
	.navbar .nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 500;

		display: flex;
		justify-content: center;
		flex-direction: column;
		
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}
	.navbar .nav.active{
		opacity: 1;
		visibility: visible;
	}
	.navbar .nav .nav-item{
		float: none;
	}
	.navbar .nav .nav-item .nav-link{
		width: 100%;
		padding: 12px 16px;
		text-align: center;
	}
}

.navbar{
	height: 100px;
	background-color: #FFF8D7;
	/* 固定定位 */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* 層級 */
	z-index: 500;
}

.brand{
	display: inline-block;
	width: 200px;
	height: 80px;
	background-image: url('../images/common/yhx-1.png');
	/* 背景圖縮至容器大小 */
	background-size: contain;
	/* 背景圖中央 */
	background-position: center;
	/* 背景圖不重複 */
	background-repeat: no-repeat;
	/* 文字寬度百分比 */
	text-indent: 100%;
	/* 文字強制不換行 */
	white-space: nowrap;
	/* 超出範圍隱藏 */
	overflow: hidden;
	/* 轉場 */
	transition: all 0.3s;
}

.navbar .nav{
	/* 浮動 */
	float: right;
}

.navbar .nav-item{
	/* 浮動 */
	float: left;
}

.navbar .nav-link{
	/* 把預設值inline改為block */
	display: block;
	color: #FFB5B5;
	/* 行高 */
	line-height: 24px;
	/* 內距 */
	padding: 20px 16px;
	/* 轉場 */
	transition: all 0.3s;
}

.navbar .nav-link:hover{
	color:#ACD6FF ;
}

/* menu-toggle */
.menu-toggle{
	width: 48px;
	height: 48px;
	float: right;
	margin-top: 8px;
	padding: 12px 8px;
	display: none;
	z-index: 600;
}
@media (max-width: 768px){
	.menu-toggle{
		display: block;
	}
}
.menu-toggle span{
	width: 32px;
	height: 2px;
	display: block;
	background-color: #d5a26f;
	/*margin-bottom: 8px;*/
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	transition: all 0.3s;
}
.menu-toggle span:nth-child(1){
	top: 12px;
}
.menu-toggle.active span:nth-child(1){
	top: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.menu-toggle span:nth-child(2){
	top: 22px;
}
.menu-toggle.active span:nth-child(2){
	opacity: 0;
}
.menu-toggle span:nth-child(3){
	top: 32px;
}
.menu-toggle.active span:nth-child(3){
	top: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}


/* close-btn */
.close-btn{
	width: 48px;
	height: 48px;
	position: absolute;
	right: 16px;
	top: 8px;
	display: none;
}
@media (max-width: 768px){
	.close-btn{
		display: block;
	}
}
.close-btn span{
	width: 40px;
	height: 2px;
	background-color: #d5a26f;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.close-btn span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.close-btn span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}


@media (max-width: 768px){
	.hero{
		padding-top: 80px;
		padding-bottom: 80px;
	}
}


/* jumbotron */
.jumbotron{
	/* 邊框 */
	border: 1px solid #ACD6FF;
	/* 上內距 */
	padding-top: 180px;
	/* 下內距 */
	padding-bottom: 120px;
	background-image: url('../images/bg/xl.jpg');
	/* 背景圖中央 */
	background-position: center;
	/* 背景圖符合內容框 */
	background-size: cover;
	/* 固定背景圖片(不滾動) */
	background-attachment: fixed;
}

@media (max-width: 768px){
	.jumbotron{
		padding-top: 144px;
		padding-bottom: 80px;
	}
	.jumbotron .logo-image{
		width: 200px;
		height: 200px;
	}
}


.jumbotron .mask-dark{
	background-color: rgba(0, 0, 0, 0.3);
	/* 絕對定位 */
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* 層級 */
	z-index: 1;
}

.jumbotron .container{
	/* 相對定位 */
	position: relative;
	/* 層級 */
	z-index: 2;
}

.jumbotron .logo-image{
	width: 320px;
	height: 320px;
	background-image: url('../images/common/logo-3.png');
	/* 背景圖縮至容器大小 */
	background-size: contain;
	/* 背景圖中央 */
	background-position: center;
	/* 背景圖不重複 */
	background-repeat: no-repeat;
	/* 置中 */
	margin: 0 auto;
}